.title{
	text-align:center;
	margin-top:125px;
	color:#eceff4;
	font-size:150%;
}
.list{
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;
	justify-content: center;
}
.space{
	margin:25px;
}
body{
	background-color:#2e3440;
}
hr{
	margin-top:40px;
	flex-direction:column;
	width:800px;
	color:#d8dee9;
}
br{
	margin:15px;
}
a:link, a:visited, a:active{
	color:#e5e9f0;
	text-decoration:none;
	font-size:150%;
	cursor:pointer;
	transition-duration:0.25s;
}
a:hover{
	color:#88c0d0;
	text-decoration:none;
	font-size:175%;
}
.social{
	color:#bf616a;
	font-size:300%;
}
.video{
	color:#d08770;
	font-size:300%;
}
.code{
	color:#ebcb8b;
	font-size:300%;
}
.linux{
	color:#a3be8c;
	font-size:300%;
}
